twilio
deepgram-sdk
elevenlabs
mistralai
fastapi
uvicorn
python-dotenv
requests
websockets
sounddevice
pydantic-settings
#vocode
#separately install vocode by pip install vocode-0.1.113-py3-none-any.whl
#https://pypi.org/project/vocode/#vocode-0.1.113-py3-none-any.whl